body {
    margin: 0;
    text-align: center;
    font-family: 'Arial';
}

.header {
    background-image: url("images/maceio.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 343px;
    margin: 0;
}

.header:hover {
     background-image: url("images/maceio2.jpg");
     background-size: cover;
}

#header-title {
    color: #FFFFFF;
    font-size: 32px;
    background: #1D3557;
    padding: 3px 12px;
    border-radius: 10px;
    margin-bottom: 0;
}

#header-describe {
    color: #FFFFFF;
    font-size: 18px;
    background: #457B9D;
    border-radius: 10px;
    padding: 8px 28px;
    width: 412px;
    height: 52px;
    display: flex;
    align-items: center;
    margin-top: 11px;
}

.activities {
    background: #F1FAEE;
    display: flex;
    justify-content: space-around;
    color: #1D3557;
}

.activities-img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.activities-img:hover {
    border: 5px solid #1D3557
}

.act-detail {
    margin: 48px 33px;
    padding: 0;
    width: 300px;
}

.guide-section {
    display: flex;
    justify-content: center;
}

.card {
    display: flex;
    align-items: center;
    background: #A8DADC;
    color: #1D3557;
    border-radius: 10px;
    border-bottom: 7px solid #1D3557;
    margin: 50px 160px;
    width: 500px;
}

#card-img {
    width: 180px;
    border-radius: 10px;
    margin: 23px 12px;
}

.card-text {
    margin-right: 13px;
}

#card-text-title {
    font-size: 24px;
}

#card-text-describe {
    font-style: italic;
}



